.container {
    text-align:center;
}

.image-container {
    display:inline-block;
    width:50%;
    border:1px solid black;
}
.images {
    object-fit: cover;
    width:100%;
    height:50%;
}


/* buttons */
.buttons {
    position: relative;
    bottom:150px;
}
.button-image {
    width:50px;
}

/* indicators */
.indicators {
    margin-top:10px;
    text-align:center;
}
.slider-indicator{
    border:1px solid black;
    border-radius:50%;
    width:15px;
    height:15px;
    background:white;
}